#red {
     position: absolute;
     top:20px;
     right:10px;
}

#green {
     position: absolute;
     top:20px;
     right:10px;
}

#h {
    position: absolute;
    top: 550px;
    left: 0px;
}

#c {
    position: absolute;
    top: 270px;
    left: 0px;
}

#cat {
    height: 200px;
    width: 200px;
}

#husky {
    height: 200px;
    width: 200px;
}

#catWins{
     height: 200px;
    width: 200px;
}

#huskyWins{
     height: 200px;
    width: 200px;
}

body {
    background-image: url("background.jpg");
    height: 1000px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

}



